html, body {
	height: 100%;
	margin: 0; padding: 0;
}

#wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
}

#body {
	flex-grow: 1;
	padding-bottom: 20px;
	overflow-y: scroll;
}

.content {
	margin: 0 auto;
}

#footer {
	overflow: hidden;
	min-height: 45px;
	flex-basis: 45px;

	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
