<md-content flex md-scroll-y>
	<ui-view layout="column" layout-fill layout-padding>
		<md-card flex-gt-sm="90" flex-gt-md="80">
			<md-card-content>
				<h2>Mods</h2>
				<md-list>
					<md-item ng-repeat="mod in installController.addons | filter:search">
						<md-item-content>
							<div class="md-tile-content">
								<h3>{{ mod.name }} (by {{mod.author}})</h3>
								<p>{{ mod.short }}</p>
							</div>
							<div class="md-tile-right inset" hide-sm>
								<md-button class="md-raised md-primary" data-ng-click="installController.installMod(mod);">Install</md-button>
							</div>
							<md-progress-linear md-mode="determinate" value="{{mod.installProgress}}" ng-show="mod.isDownloading"></md-progress-linear>
						</md-item-content>
					</md-item>
					<md-divider></md-divider>
				</md-list>
			</md-card-content>
		</md-card>
	</ui-view>
</md-content>
