<!DOCTYPE html>
<html lang="ja" data-ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Tree of Savior Addon Manager</title>

		<link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="./css/github-markdown.css" />

	</head>
	<body style="font-family:'メイリオ',Meiryo UI;overflow:hidden;" ng-cloak ng-controller="TabController as vm">
		<div id="wrapper">
			<div id="body">
				<div id="top" ></div>
				<div class="content">
					<md-tabs  md-stretch-tabs md-border-bottom  md-selected="vm.selectedIndex">
					<!--<md-tabs data-ng-show="vm.showTab()" md-stretch-tabs md-border-bottom  md-selected="vm.selectedIndex">-->
						<md-tab label="{{ 'TAB.SETTINGS' | translate }}"></md-tab>
						<md-tab label="{{ 'TAB.ITOS' | translate }}" ng-disabled="!vm.isValidDirectory();"></md-tab>
						<md-tab label="{{ 'TAB.JTOS' | translate }}" ng-disabled="!vm.isValidDirectory();"></md-tab>
					</md-tabs>
					<h1 data-ng-show="vm.isFirstLoad" style="color:red">Please Reboot Addon Manager</h1>
					<div id="content" ui-view flex></div>
				</div>
			</div>
			<div id="footer" md-whiteframe="4" style="display:inline-block;">
				<div style="float:left;width:32px;">
					<md-card md-whiteframe="5" style="margin:0px;margin-left:10px;width:64px">
						<md-button class="md-icon-button" data-ng-click="vm.openDiscord();" aria-label="discord">
							<md-tooltip md-direction="top">
								Discord
							</md-tooltip>
							<img src="./img/discord.png" style="width:32px;height:32px;float:left;margin: 0;" alt="discord">
						</md-button>
					</md-card>
				</div>

				<div style="float:left;">
					<md-card md-whiteframe="5" style="margin:0px;margin-left:200px;">
						<md-checkbox style="float:left;margin:10px;" ng-model="vm.doesTransDesc"  data-ng-change="vm.changeTranslateDescription()" aria-label="Does translate Description">{{ 'FOOTER.TRANSLATE_DESCRIPTION' | translate }}</md-checkbox>
					</md-card>
				</div>
				<div style="float:right;width:100px;">
					<md-select class="md-menu" style="margin: 0;width:100px;" data-ng-model="vm.selectedLanguage" data-ng-change="vm.changeLang(vm.selectedLanguage)" aria-label="Language">
						<md-option  style="margin: 0;width:100px;" data-ng-repeat="lang in vm.locales" value="{{lang}}">{{lang | uppercase}}</md-option>
					</md-select>
				</div>

					<md-button	class="md-raised" style="float:right;" data-ng-click="reloadRoute()">{{ 'FOOTER.RELOAD' | translate }}</md-button>
					<md-button	class="md-raised" style="float:right;" data-ng-click="vm.jumpTo()">{{ 'FOOTER.SCROLL_TO_TOP' | translate }}</md-button>
					<md-button data-ng-click="vm.launchGame();" style="float:right;" class="md-raised">{{ 'FOOTER.OPEN_OFFICIAL_SITE' | translate }}</md-button>

			</div>
		</div>

		<script src="./bower_components/angular/angular.min.js"></script>
		<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="./bower_components/angular-aria/angular-aria.min.js"></script>
		<script src="./bower_components/angular-messages/angular-messages.min.js"></script>
		<script src="./bower_components/angular-material/angular-material.min.js"></script>
		<script src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script src="./bower_components/angular-translate/angular-translate.min.js"></script>
		<script src="./bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
		<script src="./bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
		<script src="./bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
		<script src="./bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>

		<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="./bower_components/angular-resource/angular-resource.js"></script>

		<script src="./scripts/app.js"></script>
		<script src="./scripts/tab/tab.controller.js"></script>
		<script src="./scripts/browse/browse.controller.js"></script>
		<script src="./scripts/browse/browseJP.controller.js"></script>
		<script src="./scripts/browse/addonbig.controller.js"></script>
		<script src="./scripts/installed/installed.controller.js"></script>
		<script src="./scripts/settings/settings.controller.js"></script>
		<script src="./scripts/services/addonretriever.service.js"></script>
		<script src="./scripts/services/addonretrieverJP.service.js"></script>
		<script src="./scripts/services/readmeretriever.service.js"></script>
		<script src="./scripts/services/installer.service.js"></script>
		<script src="./scripts/services/settings.service.js"></script>
		<script src="./scripts/browse/addon.directive.js"></script>
		<script src="./scripts/browse/addonDetail.directive.js"></script>
		<script src="./scripts/services/sharedscope.service.js"></script>
		<script src="./scripts/marked.js"></script>

	</body>
</html>
