<!DOCTYPE html>
<html lang="ja" data-ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Tree of Savior Addon Manager</title>

		<link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css" />
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="./css/github-markdown.css" />

	</head>
	<body style="font-family:'メイリオ',Meiryo UI;" ng-cloak ng-controller="TabController as vm">
		<div id="wrapper">
			<div id="body">
				<div id="top" ></div>
				<div class="content">
					<md-tabs data-ng-show="vm.showTab()" md-stretch-tabs md-border-bottom  md-selected="vm.selectedIndex">
						<md-tab label="{{ 'TAB.SETTINGS' | translate }}"></md-tab>
						<md-tab label="{{ 'TAB.ITOS' | translate }}" ng-disabled="!vm.isValidDirectory();"></md-tab>
						<md-tab label="{{ 'TAB.JTOS' | translate }}" ng-disabled="!vm.isValidDirectory();"></md-tab>
					</md-tabs>
					<h1 data-ng-show="vm.isFirstLoad" style="color:red">Please Reboot Addon Manager</h1>
					<div id="content" ui-view flex></div>
				</div>
			</div>
			<div id="footer" md-whiteframe="4">
				<md-card md-whiteframe="5">
				<md-checkbox  ng-model="vm.doesTransDesc"  data-ng-change="vm.changeTranslateDescription()" aria-label="Does translate Description">{{ 'FOOTER.TRANSLATE_DESCRIPTION' | translate }}</md-checkbox>
				</md-card>
				<!--<md-select class="md-menu" style="margin: 0;" data-ng-model="vm.selectedLanguage" data-ng-change="vm.changeLang(vm.selectedLanguage)" aria-label="Language">
					<md-option value="en">EN</md-option>
					<md-option value="ja">JA</md-option>
					<md-option value="pt-BR">PT-BR</md-option>
					<md-option value="es">ES</md-option>
				</md-select>-->
				<md-select class="md-menu" style="margin: 0;" data-ng-model="vm.selectedLanguage" data-ng-change="vm.changeLang(vm.selectedLanguage)" aria-label="Language">
					<md-option  data-ng-repeat="lang in vm.locales" value="{{lang}}">{{lang | uppercase}}</md-option>
				</md-select>
				<md-button	class="md-raised" style="float:left" data-ng-click="reloadRoute()">{{ 'FOOTER.RELOAD' | translate }}</md-button>
				<md-button	class="md-raised" style="float:left" data-ng-click="vm.jumpTo()">{{ 'FOOTER.SCROLL_TO_TOP' | translate }}</md-button>
				<md-button data-ng-click="vm.launchGame();" class="md-raised">{{ 'FOOTER.OPEN_OFFICIAL_SITE' | translate }}</md-button>
				
			</div>
		</div>

		<script src="./bower_components/angular/angular.min.js"></script>
		<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="./bower_components/angular-aria/angular-aria.min.js"></script>
		<script src="./bower_components/angular-messages/angular-messages.min.js"></script>
		<script src="./bower_components/angular-material/angular-material.min.js"></script>
		<script src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script src="./bower_components/angular-translate/angular-translate.min.js"></script>
		<script src="./bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
		<script src="./bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
		<script src="./bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
		<script src="./bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>

		<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="./bower_components/angular-resource/angular-resource.js"></script>

		<script src="./scripts/app.js"></script>
		<script src="./scripts/tab/tab.controller.js"></script>
		<script src="./scripts/browse/browse.controller.js"></script>
		<script src="./scripts/browse/browseJP.controller.js"></script>
		<script src="./scripts/installed/installed.controller.js"></script>
		<script src="./scripts/settings/settings.controller.js"></script>
		<script src="./scripts/services/addonretriever.service.js"></script>
		<script src="./scripts/services/addonretrieverJP.service.js"></script>
		<script src="./scripts/services/readmeretriever.service.js"></script>
		<script src="./scripts/services/installer.service.js"></script>
		<script src="./scripts/services/settings.service.js"></script>
		<script src="./scripts/browse/addon.directive.js"></script>
		<script src="./scripts/services/sharedscope.service.js"></script>
		<script src="./scripts/marked.js"></script>

	</body>
</html>
