<div ng-cloak="" class="tabsdemoDynamicHeight">
	<md-content>
		<md-tabs md-dynamic-height="" md-border-bottom="">
			<md-tab label="Settings">
				<md-content class="md-padding">
					<h1 class="md-display-2">Settings</h1>
					<p><strong>Configure your settings below. Please specify your Tree of Savior install directory.</strong></p>
					<md-content layout-padding>
						<form name="userForm">
							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Tree of Savior Directory</label>
									<input ng-model="mainController.treeOfSaviorDirectory">
								</md-input-container>
								<md-button class="md-raised" ng-click="mainController.browseForDirectory();">Browse...</md-button>
							</div>
						</form>
					</md-content>
				</md-content>
			</md-tab>
			<md-tab label="Install Mod">
				<md-content class="md-padding">
					<h1 class="md-display-2">Install Mod</h1>
					<p><strong>Browse the available mods below.</strong></p>
					<div>
						<md-list ng-cloak>
							<md-subheader class="md-no-sticky">Check a mod to install it</md-subheader>
							<md-list-item ng-repeat="mod in mainController.addons">
								<p> {{ mod.name }} (by {{mod.author}})</p>
								<p> {{ mod.short }}</p>
								<md-checkbox class="md-secondary" ng-model="mod.isInstalled"></md-checkbox>
							</md-list-item>
							<md-divider></md-divider>
						</md-list>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Uninstall Mod">
				<md-content class="md-padding">
					<h1 class="md-display-2">Uninstall Mod</h1>
					<p>Choose the mod that you no longer want to uninstall it.</p>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
