<md-card md-whiteframe="5">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{vm.addon.name}}</span>
			<span class="md-subhead">{{vm.addon.author}}</span>
			<md-chips data-ng-model="vm.addon.tags" readonly="true">
			</md-chips>
			<p class="md-body-1">{{vm.addon.description}}</p>
			<span class="md-body-1" data-ng-show="vm.addon.isInstalled">Installed version: {{vm.addon.installedFileVersion}}</span>
			<span class="md-body-1">Available version: {{vm.addon.fileVersion}}</span>
			<span data-ng-show="vm.addon.failedInstall"><p class="error">Failed to install addon. Please contact <a href data-ng-click="openIssues(vm.addon);">{{vm.addon.author}}</a>.</p></span>
			<span data-ng-show="vm.addon.uninstallError"><p class="error">Could not uninstall addon. Make sure the game is closed and then try again.</p></span>
		</md-card-title-text>
		<md-card-title-media>
			<div class="md-media-lg card-media"></div>
		</md-card-title-media>
	</md-card-title>
	<md-card-actions layout="row" layout-align="end center">
		<md-button data-ng-click="openWebsite(vm.addon);" class="md-raised">Website</md-button>
		<md-button data-ng-click="install(vm.addon);" class="md-raised" data-ng-class="{'md-warn': vm.addon.failedInstall}" data-ng-show="!vm.addon.isDownloading && !vm.addon.isInstalled">Install</md-button>
		<md-button data-ng-click="update(vm.addon);" class="md-raised md-accent" data-ng-class="{'md-warn': vm.addon.failedInstall}" data-ng-show="vm.addon.isUpdateAvailable && vm.addon.isInstalled">Update</md-button>
		<md-button data-ng-click="uninstall(vm.addon);" class="md-raised" data-ng-show="vm.addon.isInstalled && !vm.addon.failedInstall">Uninstall</md-button>
		<md-progress-circular md-mode="indeterminate" data-ng-show="vm.addon.isDownloading"></md-progress-circular>
	</md-card-actions>
</md-card>
